@font-face {
    font-family: 'Filosofia';
    src: url('/fonts/Filosofia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans';
    src: url('/fonts/FinoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans';
    src: url('/fonts/FinoSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans';
    src: url('/fonts/FinoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Lt';
    src: url('/fonts/FinoSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Md';
    src: url('/fonts/FinoSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Lt';
    src: url('/fonts/FinoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Md';
    src: url('/fonts/FinoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans';
    src: url('/fonts/FinoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Th';
    src: url('/fonts/FinoSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title';
    src: url('/fonts/FinoSansTitle-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Th';
    src: url('/fonts/FinoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title';
    src: url('/fonts/FinoSansTitle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title Lt';
    src: url('/fonts/FinoSansTitle-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title Lt';
    src: url('/fonts/FinoSansTitle-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title';
    src: url('/fonts/FinoSansTitle-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title Md';
    src: url('/fonts/FinoSansTitle-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title Md';
    src: url('/fonts/FinoSansTitle-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title';
    src: url('/fonts/FinoSansTitle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title Th';
    src: url('/fonts/FinoSansTitle-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title Ut';
    src: url('/fonts/FinoSansTitle-UltraThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title Th';
    src: url('/fonts/FinoSansTitle-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Ut';
    src: url('/fonts/FinoSans-UltraThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Title Ut';
    src: url('/fonts/FinoSansTitle-UltraThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

@font-face {
    font-family: 'Fino Sans Ut';
    src: url('/fonts/FinoSans-UltraThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    letter-spacing: 0.2px !important;
}

