@keyframes moveLeft {
    0%,
    100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-10px);
    }
}

@keyframes moveRight {
    0%,
    100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes dropIn {
    20% {
        opacity: 0;
        transform: translateY(5rem);
    }

    30%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.moveLeft {
    animation: moveLeft 1s infinite;
}

.moveRight {
    animation: moveRight 1s infinite;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: calc(var(--order) * 50ms);
}

.dropIn {
    opacity: 0;
    animation: dropIn 6s ease-in forwards;
    animation-delay: calc(var(--order) * 50ms);
}
